In [ ]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline
df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/08-02-2020.csv')

df.dropna(inplace= True)
# Drop NAs

df.drop(['Admin2','Combined_Key','FIPS','Lat','Long_'],axis=1,inplace=True)
# Drop Columns

df[['Active']]=(df[['Active']]*1).astype(int)
# Drop Decimal from Active

df = df.round({'Incidence_Rate': 1, 'Case-Fatality_Ratio': 1})
# Round Incidence and Case Fatality

df[['Update','Time']] = df.Last_Update.str.split(" ",expand=True,)
# Split Update Column

df.drop(['Last_Update','Time'],axis=1,inplace=True)
# Drop Columnns

df=df.rename(columns={'Province_State':'State','Country_Region': 'Country', 'Confirmed': 'Cases','Case-Fatality_Ratio': 'Cases-Deaths Ratio', 'Incidence_Rate': 'Case Rate'})
# Rename Column

df=df.sort_values(['State'], ascending = True)
# Sort by State

df1 = df.groupby(['State'])['Cases','Deaths','Active'].sum()
# Create a new sheet grouped by State

df1=df1.sort_values(['Cases'], ascending=False)
# Sort sheet grouped by State by total number of cases

df1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:32: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

                       Cases  Deaths  Active
State
California            512175    9396  502779
Florida               486499    7084  479415
Texas                 448145    6765  441380
New York              416298   32710  383588
Illinois              181887    7517  174370
New Jersey            181676   15836  165840
Arizona               178467    3764  174703
Georgia               175085    3752  171333
North Carolina        125330    1983  123347
Louisiana             119736    3893  115843
Massachusetts         118054    8631  109423
Pennsylvania          118033    7223  110810
Tennessee             103880    1057  102823
Ohio                   93031    3529   89502
South Carolina         91788    1777   90011
Virginia               91782    2218   89564
Maryland               90274    3501   86773
Alabama                88811    1576   87235
Michigan               87314    6383   80931
Indiana                67857    2775   65082
Mississippi            60553    1703   58850
Washington             58014    1594   56420
Minnesota              55812    1614   54198
Wisconsin              54924     948   53976
Nevada                 50205     832   49373
Connecticut            49567    4432   45135
Colorado               47709    1844   45865
Missouri               46255    1223   45032
Iowa                   45716     878   44838
Arkansas               42232     464   41768
Oklahoma               38201     550   37651
Utah                   32751     254   32497
Kentucky               31185     742   30443
Kansas                 27871     360   27511
Nebraska               26559     332   26227
Idaho                  21110     197   20913
New Mexico             19751     654   19097
Oregon                 19097     326   18771
Puerto Rico            17269       0   17269
Rhode Island           17244       0   17244
Delaware               14723     585   14138
District of Columbia   12057     584   11473
South Dakota            8955     135    8820
West Virginia           6858     117    6741
North Dakota            6660     105    6555
New Hampshire           6634     417    6217
Montana                 4193      61    4132
Maine                   3956     123    3833
Alaska                  3280      24    3256
Wyoming                 2808       1    2807
Hawaii                  2219      25    2194
Vermont                 1418      57    1361